/core/Library/Think/Verify/bgs/*
/core/Library/Think/Verify/ttfs/*
/Uploads/*
/Runtime/*
/Public/*
/demo/demo/images/*
/demo/demo/css/*
/demo/bank/*.png
/demo/*.png
/demo/*.jpeg
/demo/*.jpg
/Data/*
/*.txt
/*.sql